@use '../utility/variables' as *;
@use '../utility/mixins' as *;

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: $color-white;

  @include animate(background-color);

  @include hover {
    background-color: $color-main;
  }

  &--menu {
    @include mask-contain('/src/images/icons/menu.svg');
  }

  &--cross {
    @include mask-contain('/src/images/icons/cross.svg');
  }

  &--dropdown {
    width: 10px;
    height: 10px;

    @include mask-contain('/src/images/icons/dropdown.svg');
  }

  &--up {
    @include mask-contain('/src/images/icons/scroll-up.svg');
  }

  &--facebook {
    width: 20px;
    height: 20px;

    @include mask-contain('/src/images/icons/facebook.svg');
  }

  &--twitter {
    width: 20px;
    height: 20px;

    @include mask-contain('/src/images/icons/twitter.svg');
  }

  &--telegram {
    width: 20px;
    height: 20px;

    @include mask-contain('/src/images/icons/telegram.svg');
  }

  &--instagram {
    width: 20px;
    height: 20px;

    @include mask-contain('/src/images/icons/instagram.svg');
  }
}
