@use '../utility/variables' as *;
@use '../utility/mixins' as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  &__logo {
    display: block;
    width: 120px;
    height: 40px;

    @include image-contain('/src/images/logo.png');
  }

  &__actions {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    align-items: center;

    @include tablet {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__language {
    display: none;

    @include tablet {
      display: block;
    }
  }
}
