@use '../utility/variables' as *;
@use '../utility/mixins' as *;

.subscribe {
  margin-bottom: 80px;

  @include tablet {
    margin-bottom: 128px;
  }

  @include desktop {
    margin-bottom: 200px;
  }

  &__container {
    @include grid;
  }

  &__heading {
    grid-column: 1 / -1;
    margin-bottom: 20px;

    @include desktop {
      grid-column: 1 / 7;
      margin-bottom: 50px;
    }
  }

  &__description {
    grid-column: 1 / -1;
    margin-bottom: 50px;

    @include tablet {
      grid-column: 1 / 6;
    }

    @include desktop {
      grid-column: 7 / -1;
      margin-bottom: 0;
    }
  }

  &__form {
    grid-column: 1 / -1;
    margin-bottom: 30px;

    @include tablet {
      grid-column: 1 / 5;
    }

    @include desktop {
      grid-column: 1 / 6;
      margin-bottom: 40px;
    }
  }

  &__button {
    grid-column: 1 / -1;
    width: 100%;

    @include tablet {
      grid-column: 1 / 4;
    }
  }
}
