////////////////////
// --- Global --- //
////////////////////

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

//////////////////
// --- Page --- //
//////////////////

html {
  scrollbar-gutter: stable;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: inherit;
}

/////////////////////////
// --- Typographic --- //
/////////////////////////

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul,
menu {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  width: 100%;
  height: 1px;
  background-color: white;
}

address {
  font-style: normal;
}

///////////////////
// --- Media --- //
///////////////////

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object,
details {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

///////////////////
// --- Table --- //
///////////////////

table {
  border-spacing: 0;
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

/////////////////////////////
// --- Forms & Buttons --- //
/////////////////////////////

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;

  appearance: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

/////////////////////
// --- Utility --- //
/////////////////////

[hidden]:where(:not([hidden='until-found'])) {
  display: none !important;
}
