// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1280px;

// Layout (Grid)
$padding-mobile: 20px;
$padding-tablet: 39px;
$padding-desktop: 55px;
$gap-mobile: 20px;
$gap-tablet: 30px;
$gap-desktop: 30px;
$cols-mobile: 2;
$cols-tablet: 6;
$cols-desktop: 12;

// Button
$button-width: 270px;
$button-height: 60px;

// Colors
$color-main: #cd4d31;
$color-background: #3f5252;
$color-white: #f1f5f4;
$color-black: #1c1b29;
$color-gray: #504f5e;
$color-hover: #af3419;
$color-pressed: #ea340d;
$color-disabled: #dd836f;

// Fonts
$font-title: 'Playfair Display', serif;
$font-main: 'Raleway', sans-serif;

// Typography
$type-scale: (
  h1: (
    96px,
    72px,
    48px,
    100%,
    100%,
    100%,
    700,
    $font-title,
  ),
  h2: (
    80px,
    62px,
    38px,
    100%,
    100%,
    100%,
    700,
    $font-title,
  ),
  h3: (
    58px,
    40px,
    28px,
    120%,
    125%,
    125%,
    700,
    $font-title,
  ),
  h4: (
    24px,
    24px,
    20px,
    125%,
    125%,
    125%,
    700,
    $font-title,
  ),
  h5: (
    20px,
    20px,
    20px,
    150%,
    150%,
    150%,
    700,
    $font-title,
  ),
  h6: (
    14px,
    14px,
    14px,
    125%,
    125%,
    125%,
    700,
    $font-title,
  ),
  button: (
    16px,
    16px,
    16px,
    100%,
    100%,
    100%,
    600,
    $font-main,
  ),
  main: (
    16px,
    16px,
    16px,
    150%,
    150%,
    150%,
    400,
    $font-main,
  ),
  additional: (
    14px,
    14px,
    14px,
    140%,
    140%,
    140%,
    400,
    $font-main,
  ),
);

// Animations
$transition-speed: 0.4s;
$transition-function: ease-out;
